<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>书籍的购物车</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <div v-if="books.length">
    <table>
      <thead>
      <tr>
        <th> </th>
        <th>书籍名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(book,index) in books">
        <!--<td v-for="value in book">{{value}}</td>-->
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.date}}</td>
        <!--过滤器显示-->
        <td class="price">{{book.price | showPrice}}</td>
        <td>
          <!--v-bind:disabled控制是否能被修改-->
          <button @click="decrement(index)" v-bind:disabled="book.count<=1">-</button>
          {{book.count}}
          <button @click="increment(index)">+</button>
        </td>
        <td>
          <button @click="removeBook(index)">移除</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <h2>总价格：<span class="price">{{totalPrice | showPrice}}</span></h2>
    </div>
  </div>
  <div v-else><h1>购物车为空</h1></div>
</div>

<script src="../js/vue.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="main.js"></script>



</body>
</html>