<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <!--绑定单选框-->
  <label for="agree">
    <input type="checkbox" id="agree" v-model="isAgree">同意协议
  </label>
  <h2>你选择的：{{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>
  <br>

  <!--绑定多选框，数组类型-->
  <input type="checkbox" value="篮球" v-model="hobbies">篮球
  <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
  <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
  <input type="checkbox" value="排球" v-model="hobbies">排球
  <h2>
    你的爱好有：
    <span v-for="hobby in hobbies">{{hobby}} </span>
  </h2>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'hi',
      isAgree:false,
      hobbies:[]
    },
    computed: {

    },
    methods: {

    }
  })

</script>
</body>
</html>